<h1> Add a Bathroom </h1>
<br>
<form action="/bathrooms" method="post">
	Name: <input type="text" name="Name">
	<br>
	Location: <input type="text" name="Location">
	<br>
	Gender:
	<select name="gender">
		<option value="Neutral">Gender Neutral</option>
		<option value="Female">Female</option>
		<option value="Male">Male</option>
	</select>
	<br>
	Private or Public?
	<select name="privacy">
		<option value="Private">Private</option>
		<option value="Public">PUblic</option>
	</select>
	<br>
	Bathroom Type:
	<select name="style">
		<option value="Single">Single</option>
		<option value="Stalls">Stalls</option>
	</select>
	<br>
	Handicap Accessible?
	<input type="radio" name="handicap" value="yes"> Yes
	<input type="radio" name="handicap" value="no"> No
	<br>
	Tampons or Pads available?
	<input type="radio" name="pads" value="yes"> Yes
	<input type="radio" name="pads" value="no"> No
	<br>
	On a scale of 1 to 5, how would you rate this bathroom?
	<input type="number" name="rating" min="1" max="5">
	<br>
	<input type="submit" value="Add">
</form>
<hr>
{{#if rooms}}
	<h3> Available Bathrooms </h3>
	<table>
		<tr>
			<th> Name </th>
			<th> Location </th>
			<th> Details </th>
		</tr>
		{{#each rooms}}
		<tr>
			<td> {{Name}} </td>
			<td> {{Location}} </td>
			<td>
				Gender: {{Info.Gender}}
				<br>
				Pads/Tampons Available: {{Info.PadsTampons}}
				<br>
				Public/Private: {{Info.PublicPrivate}}
				<br>
				Distance: {{Info.Distance}}
				<br>
				Stall/Single: {{Info.StallSingle}}
				<br>
				Handicap Accessible: {{Info.Handicap}}
			</td>
		</tr>
		{{/each}}
	</table>
{{else}}
No bathrooms available at this time :'(
{{/if}}
<hr>
<h3> Testing Google Maps </h3>
<div id="map"></div>
<script src="/map.js"></script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpQUJETa6o-dkuNiYfVBTnaao9zplX6_Y&callback=initMap">
</script>
